mixin icon(name,cls)
  svg(class=cls)
    use(xlink:href="#" + name)

mixin checkbox(text,checked,disable)
  .check-el
    label.style-label.style-label--checkbox(class = disable === 'disable' ? 'style-label--disable' : '')
      input(type="checkbox" checked=checked === "checked" ? checked : false).style-input
      .style-input-element
        +icon("checked","icon")
      .style-input-text=text

mixin checkboxRemove(text,checked,disable)
  .check-el
    label.style-label.style-label--checkbox.style-label--remove(class = disable === 'disable' ? 'style-label--disable' : '')
      input(type="checkbox" checked=checked === "checked" ? checked : false).style-input
      .style-input-element
        +icon("close","icon")
      .style-input-text=text

mixin radio(text,group,checked,disable)
  .check-el
    label.style-label.style-label--radio(class = disable === 'disable' ? 'style-label--disable' : '')
      input(type="radio" name=group checked=checked).style-input
      .style-input-element
        .icon-radio
      .style-input-text=text

mixin incr(state,className='')
  .incr(class= state ? className  +' incr--one' : className )
    .incr__minus.incr__nav
      +icon("minus","icon")
    .incr__val
      span=state ? 1 : 0
      .incr__val-coner
    .incr__plus.incr__nav
      +icon("plus","icon")

mixin faq(type)
  // faq


  .faq-wrap
    .faq-type.js-tick-cont
      .faq-type__el.js-tick.js-tab.active
        +icon("apple","icon icon--lg")
        span Диета и питание
      .faq-type__el.js-tick.js-tab
        +icon("money","icon icon--lg")
        span Заказ и оплата
      .faq-type__el.js-tick.js-tab
        +icon("deliver","icon icon--lg")
        span Доставка
      .faq-type__el.js-tick.js-tab
        +icon("cook","icon icon--lg")
        span Приготовление

  -
    var items = [
      {
        "list": [
          '1. Как понять что и когда есть?',
          '2. Как часто употреблять рационы?',
          '3. Кто занимается составлением меню?',
          '4. Как часто обновляется меню?',
          '5. Могу ли я заменить или исключить блюдо?'
        ]
      },
      {
        "list": [
          '1. Как понять что и когда есть?',
          '2. Как часто обновляется меню?',
          '3. Могу ли я заменить или исключить блюдо?'
        ]
      },
      {
        "list": [
          '1. Как понять что и когда есть?',
          '2. Как часто употреблять рационы?',
          '3. Кто занимается составлением меню?',
          '4. Могу ли я заменить или исключить блюдо?'
        ]
      },
      {
        "list": [
          '1. Как понять что и когда есть?',
          '2. Как часто употреблять рационы?',
          '3. Кто занимается составлением меню?',
          '4. Как часто обновляется меню?',
          '5. Могу ли я заменить или исключить блюдо?',
          '6. Отзывы реальных клиентов о доставке правильного?'
        ]
      }
    ];
  each item,i in items
    .accordion.js-accordion.js-tab-cont(class=i === 0 ? 'active' : '')
      each itemList in item.list
        .accordion__el.js-accordion-el
          .accordion__el-head.js-accordion-head
            .accordion__el-head-text #{itemList}
            .accordion__el-head-icon
          .accordion__el-content.text.js-accordion-content
            p Платежный план «переезд в готовый дом» - дает возможность будущему покупателю переехать из квартиры в загородный дом без полной оплаты за домовладение! Для быстрого переезда в готовый загородный дом достаточно внести 10% от стоимости коттеджа и Вы можете заселяться!
            p На продажу имеющейся в собственности у покупателя квартиры предоставляется рассрочка четыре месяца. По факту реализации квартиры оплачивается остаточная стоимость за домовладение.

  // faq === end

mixin review()
  // review
  .section-extend.section--gradient
    .main-cont.js-slider-wrap
      .review-head
        .review-head__info
          .type--head.type--lgx.mb-16 Отзывы клиентов
          .review-head__text Отзывы реальных клиентов о доставке правильного питания на неделю, вкусе самой еды, ее качестве и сервисе компании BeFit. Узнай почему у нас так вкусно!
        .review-control.slider-control-row
          .slider-control.js-control-left
            +icon("arrow-left","icon")
          .slider-control.js-control-right
            +icon("arrow-right","icon")
      .review
        .slider-wrap
          .slider-review.slider-extend.js-slider
            - for (var j=1;j<5;j++)
              - for (var i=1;i<5;i++)
                .slider-el-wrap
                  .slider-review__el(style="background-image:url('img/inst-item-" + i + ".jpg')")
  // review === end

mixin advant()
  // advant
  .main-cont
    .title.title--lgx Почему BeFit?
    .advant.mb-100
      a(href="#").advant__el
        .advant__el-icon
          img(src="img/icon/menu-list.svg", alt="")
        .advant__el-text Более 600 видов блюд, без трансжиров, сахара и консервантов?
      a(href="#").advant__el
        .advant__el-icon
          img(src="img/icon/packaging.svg", alt="")
        .advant__el-text Курьер может забрать нашу упаковку на переработку пластика
      a(href="#").advant__el
        .advant__el-icon
          img(src="img/icon/schedule.svg", alt="")
        .advant__el-text Умная доставка. Доставляем утром, вечером в часовой интервал
      a(href="#").advant__el
        .advant__el-icon
          img(src="img/icon/product.svg", alt="")
        .advant__el-text Приготовили и сразу доставляем. Используем технологию Smart-Frost.
  // advant === end

mixin lk-item(i)
  .program-el.desktop-row-scroll-item
    .program-el__img(style="background-image:url('img/item-sm-" + i + ".jpg')")
      .rating
        - for (var j=0;j<5;j++)
          .rating__el.active
            +icon("star-full","icon")
        .rating-val 4.5
    .program-el-wrap
      .program-el__content
        .program-el__title Смузи боул с яблоком, корицей и гранола
        .program-el__text Филе куриное, лук, яйцо, специи, гречка зеленая, соус сливочный, грецкие орехи, сливочно-ореховый соус
      .program-el__footer--clear
        .program-el__type
          .type--sm.type--secondary первый завтрак
          .type--sm.type--secondary 106 Ккал
        .btn--sm.btn--sm-fix.btn--light
          .btn-icon-row.btn-icon-row--left
            +icon("reload","icon")
            span Заменить

mixin history(j,delivered)
  .history.js-slide-wrap
    .history-head
      if(j === 0)
        .history-type
          +icon("transport","icon icon-mark")
          span.type-mark ожидается доставка
          .history-type__msg ожидается доставка
      if(j === 1)
        .history-type
          +icon("time","icon icon-stateWarning")
          span.type-stateWarning проверяется оператором
          .history-type__msg проверяется оператором
      if(j === 2)
        .history-type
          +icon("checked","icon icon-typeSecondary")
          span.type-typeSecondary доставлен
          .history-type__msg доставлен
      if(j === 3)
        .history-type
          +icon("snow","icon icon-blue")
          span.type-blue Заморожен
          .history-type__msg Заморожен
      if(j === 4)
        .history-type
          +icon("close","icon icon-stateError")
          span.type-stateError Отменен
          .history-type__msg Отменен
      .history-program ExtraLight
      .history-day на вторник
      .history-time 12:00 - 16:00
      .history-location ул.Зеленоградская, 4/7 ул.Зеленоградская, 4/7
      .history-tool
        .btn--sm.btn--light.js-slide Рацион
        if(!delivered)
          .btn-menu-wrap
            .btn--sm.btn--light.js-history-edit Изменить
            .btn-menu
              .btn-menu-cont
                .btn-menu__el Изменить доставку
                .btn-menu__el Заморозить
                .btn-menu__el.type--stateError Удалить
        else
          .btn--sm.btn--mark
            // toggle class.btn--sm.btn--mark + .disable
            .btn-icon-row.btn-icon-row--left
              +icon("star","icon")
              span Оценить
    .history-cont.js-slide-cont
      .history-cont-head
        // program consist
        .program-consist
          .program-consist__el
            .program-consist__el-val 2312
            .program-consist__el-type Ккал
          .program-consist__el
            .program-consist__el-val 456
            .program-consist__el-type Белки
          .program-consist__el
            .program-consist__el-val 326,9
            .program-consist__el-type Жиры
          .program-consist__el
            .program-consist__el-val 458
            .program-consist__el-type Углеводы
        // program consist === end
      .desktop-row-scroll.js-horizontal-scroll.scroll-template.dragscroll
        .lk-list.desktop-row-scroll-wrap
          - for (var i=1;i<8;i++)
           +lk-item(i)

mixin lk-nav()
  .lk-nav
    a(href="#").lk-nav__el.active
      +icon("squares","icon")
      span Профиль
    a(href="#").lk-nav__el
      +icon("dish","icon")
      span Профиль
    a(href="#").lk-nav__el
      +icon("folder-menu","icon")
      span Исключения
    a(href="#").lk-nav__el
      +icon("surprise","icon")
      span Бонусы партнеров
    a(href="#").lk-nav__el
      +icon("dumbbells","icon")
      span Тренировки
    .lk-nav__divider
    a(href="#").lk-nav__el
      +icon("settings","icon")
      span Настройки
    a(href="#").lk-nav__el
      +icon("exit","icon")
      span Выход

mixin lk-nav-mobile()
  .dropdown.dropdown-nav-lk
    input(type="hidden" name="name" value="0")
    .dropdown-current.dropdown-current--flat.dropdown-current--white
      .dropdown-current__val
        .icon-row
          +icon("squares","icon icon--right")
          span Профиль
      +icon("arrow-down","icon")
    .dropdown-menu.dropdown-menu--full
      -
        var items = [
          {icon: "dish", name: "Профиль"},
          {icon: "folder-menu", name: "Исключения"},
          {icon: "surprise", name: "Бонусы партнеров"},
          {icon: "dumbbells", name: "Тренировки"},
          {icon: "settings", name: "Настройки"},
          {icon: "exit", name: "Выход"},
        ];
      each item in items
        a(href="#").dropdown-menu__el
          .icon-row
            +icon(item.icon,"icon icon--right")
            span #{item.name}
mixin incr(state,className='')
  .incr(class= state ? className  +' incr--one' : className )
    .incr__minus.incr__nav
      +icon("minus","icon")
    .incr__val
      span=state ? 1 : 0
      .incr__val-coner
    .incr__plus.incr__nav
      +icon("plus","icon")