mixin icon(name,cls)
  svg(class=cls)
    use(xlink:href="#" + name)

mixin checkbox(text,checked,disable)
  .check-el
    label.style-label.style-label--checkbox(class = disable === 'disable' ? 'style-label--disable' : '')
      input(type="checkbox" checked=checked === "checked" ? checked : false).style-input
      .style-input-element
        +icon("checked","icon")
      .style-input-text=text

mixin checkboxRemove(text,checked,disable)
  .check-el
    label.style-label.style-label--checkbox.style-label--remove(class = disable === 'disable' ? 'style-label--disable' : '')
      input(type="checkbox" checked=checked === "checked" ? checked : false).style-input
      .style-input-element
        +icon("close","icon")
      .style-input-text=text

mixin radio(text,group,checked,disable)
  .check-el
    label.style-label.style-label--radio(class = disable === 'disable' ? 'style-label--disable' : '')
      input(type="radio" name=group checked=checked).style-input
      .style-input-element
        .icon-radio
      .style-input-text=text

mixin incr(state,className='')
  .incr(class= state ? className  +' incr--one' : className )
    .incr__minus.incr__nav
      +icon("minus","icon")
    .incr__val
      span=state ? 1 : 0
      .incr__val-coner
    .incr__plus.incr__nav
      +icon("plus","icon")

mixin faq(type)
  // faq


  .faq-wrap
    .faq-type.js-tick-cont
      .faq-type__el.js-tick.js-tab.active
        +icon("apple","icon icon--lg")
        span Диета и питание
      .faq-type__el.js-tick.js-tab
        +icon("money","icon icon--lg")
        span Заказ и оплата
      .faq-type__el.js-tick.js-tab
        +icon("deliver","icon icon--lg")
        span Доставка
      .faq-type__el.js-tick.js-tab
        +icon("cook","icon icon--lg")
        span Приготовление

  -
    var items = [
      {
        "list": [
          '1. Как понять что и когда есть?',
          '2. Как часто употреблять рационы?',
          '3. Кто занимается составлением меню?',
          '4. Как часто обновляется меню?',
          '5. Могу ли я заменить или исключить блюдо?'
        ]
      },
      {
        "list": [
          '1. Как понять что и когда есть?',
          '2. Как часто обновляется меню?',
          '3. Могу ли я заменить или исключить блюдо?'
        ]
      },
      {
        "list": [
          '1. Как понять что и когда есть?',
          '2. Как часто употреблять рационы?',
          '3. Кто занимается составлением меню?',
          '4. Могу ли я заменить или исключить блюдо?'
        ]
      },
      {
        "list": [
          '1. Как понять что и когда есть?',
          '2. Как часто употреблять рационы?',
          '3. Кто занимается составлением меню?',
          '4. Как часто обновляется меню?',
          '5. Могу ли я заменить или исключить блюдо?',
          '6. Отзывы реальных клиентов о доставке правильного?'
        ]
      }
    ];
  each item,i in items
    .accordion.js-accordion.js-tab-cont(class=i === 0 ? 'active' : '')
      each itemList in item.list
        .accordion__el.js-accordion-el
          .accordion__el-head.js-accordion-head
            .accordion__el-head-text #{itemList}
            .accordion__el-head-icon
          .accordion__el-content.text.js-accordion-content
            p Платежный план «переезд в готовый дом» - дает возможность будущему покупателю переехать из квартиры в загородный дом без полной оплаты за домовладение! Для быстрого переезда в готовый загородный дом достаточно внести 10% от стоимости коттеджа и Вы можете заселяться!
            p На продажу имеющейся в собственности у покупателя квартиры предоставляется рассрочка четыре месяца. По факту реализации квартиры оплачивается остаточная стоимость за домовладение.

  // faq === end

mixin review()
  // review
  .section-extend.section--gradient
    .main-cont.js-slider-wrap
      .review-head
        .review-head__info
          .type--head.type--lgx.mb-16 Отзывы клиентов
          .review-head__text Отзывы реальных клиентов о доставке правильного питания на неделю, вкусе самой еды, ее качестве и сервисе компании BeFit. Узнай почему у нас так вкусно!
        .review-control.slider-control-row
          .slider-control.js-control-left
            +icon("arrow-left","icon")
          .slider-control.js-control-right
            +icon("arrow-right","icon")
      .review
        .slider-wrap
          .slider-review.slider-extend.js-slider
            - for (var j=1;j<5;j++)
              - for (var i=1;i<5;i++)
                .slider-el-wrap
                  .slider-review__el(style="background-image:url('img/inst-item-" + i + ".jpg')")
  // review === end

mixin advant()
  // advant
  .main-cont
    .title.title--lgx Почему BeFit?
    .advant
      a(href="#").advant__el
        .advant__el-icon
          img(src="img/icon/menu-list.svg", alt="")
        .advant__el-text Более 600 видов блюд, без трансжиров, сахара и консервантов?
      a(href="#").advant__el
        .advant__el-icon
          img(src="img/icon/packaging.svg", alt="")
        .advant__el-text Курьер может забрать нашу упаковку на переработку пластика
      a(href="#").advant__el
        .advant__el-icon
          img(src="img/icon/schedule.svg", alt="")
        .advant__el-text Умная доставка. Доставляем утром, вечером в часовой интервал
      a(href="#").advant__el
        .advant__el-icon
          img(src="img/icon/product.svg", alt="")
        .advant__el-text Приготовили и сразу доставляем. Используем технологию Smart-Frost.
  // advant === end